
<% content_for :js do %>
  <script type="text/javascript">
    <%= render :partial => "appBundle.js" %>
  </script>
<% end %>

<div id="window" data-graph='<%= @graph.id %>' data-permission=<%= @same_user %>>
</div>

<div id="instructions" class="hidden">
  <ul>
    <p><h3>Info</h3></p>
    <p><em>Select an Idea</em> - Click on idea                   </p>
    <p><em>Get suggestions from different sources</em> - Select an idea and click on a toolbar button </p>
    <p><em>Create a new idea</em> - Shift and click outside idea </p>
    <p><em>Change the content</em> - Shift and click in an idea  </p>
    <p><em>Relate ideas</em> - Shift and click in idea and drag to the target </p>
    <p><em>Delete idea or link</em> - Backspace                 </p>
    <h4>Hotkeys</h4>
    <p>  s <em>search in duckduckgo.com</em> </p>
    <p>  v <em>view info about idea (wikipedia or full size image)</em> </p>
    <p>  c <em>add description to idea</em> </p>
    <p>  f <em>hide / show the navbar (focus)</em> </p>
<!--     <p>  + <em>grow idea</em> </p>
    <p>  - <em>shrink idea</em> </p> -->
    <p>  i <em>info</em> </p>
    <p>  a <em>toolbox</em> </p>

  </ul>
</div>

<% if @same_user %>
  <div id='alert'></div>
  <div id="toolbox">
    <div id="random-button" class="btn btn-default">
      <span class='label label-default'>1</span>
       Random</div>
    <div id="related_idol-button" class="btn btn-default">
      <span class='label label-default'>2</span>
     Related</div>
    <div id="wiki_category-button" class="btn btn-default">
      <span class='label label-default'>3</span>
     Wikipedia Category</div>
    <!-- <div id="flickr_tags-button" class="btn btn-default">Flickr related tags</div> -->
    <div id="user-button" class="btn btn-default">
      <span class='label label-default'>4</span>
     User matches</div>
    <div id="pinterest-button" class="btn btn-default">
      <span class='label label-default'>5</span>
       Pinterest</div>
    <div id="youtube-button" class="btn btn-default">
      <span class='label label-default'>6</span>
       Youtube</div>
    <div class="inline">
      <label for=speed>Duration</label>
      <span id='duration-label'>7 sec</span>
      <input id="duration" type="range" name="suggestions-duration" min="2000" max="12000">
    </div>
  </div>
<% end %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Other canvas</h4>
      </div>
    </div>
  </div>
</div>

<div class="wiki"><div></div><i class="fa fa-times fa-3x" id="close-wiki"></i></div>

  <input type="file" id="hidden-file-upload"></input>

  <div id="idea-toolbox">
    <!-- <div>
      <i class="fa fa-link fa-3x" id="open-canvas" data-toggle="modal" data-target="#myModal" ></i>
    </div> -->
    <div>
      <i class="fa fa-eye fa-3x" id="open-url"></i>
    </div>
    <div>
      <i class="fa fa-search fa-3x" id="search"></i>
    </div>
    <!-- <div>
      <i class="fa fa-play-circle fa-3x" id="play"></i>
    </div> -->
    <% if @same_user %>
<!--       <div>
        <i class="fa fa-plus-circle fa-3x" id="idea-plus"></i>
      </div>
      <div>
        <i class="fa fa-minus-circle fa-3x" id="idea-minus"></i>
      </div> -->
    <div>
      <i class="fa fa-comment fa-3x" id="add-text"></i>
    </div>
    <% end %>
    <div>
      <i class="fa fa-compress fa-3x" id="focus"></i>
    </div>
  </div>
