<div id="window">
</div>
<div id="controls">

  <p id='alert'></p>
  <p>
  <button id="random-button" class="btn btn-default">Create Random</button>
  <button id="related-button" class="btn btn-default">Create Related</button>
  <button id="related-button-wt" class="btn btn-default">Create Wikipedia Type</button>
  </p>
  <p>Select an Idea clicking on it and create Random concepts from it</p>
  <p>Shift + click to create a new idea</p>
  <p>Shift + click in an idea to change the content</p>
  <p>Shift + drag to relate ideas,</p>
  <p>Backspace to delete </p>
</div>

<div class="wiki"><div></div><i class="fa fa-times fa-3x" id="close-wiki"></i></div>

    <div id="toolbox">
      <input type="file" id="hidden-file-upload">
      <input id="upload-input" type="image" title="upload graph" src="upload-icon.png" alt="upload graph">
      <input type="image" id="download-input" title="download graph" src="download-icon.png" alt="download graph">
      <input type="image" id="delete-graph" title="delete graph" src="trash-icon.png" alt="delete graph">
    <div id="idea-toolbox">
      <i class="fa fa-question-circle fa-3x" id="wikishow"></i>
      <i class="fa fa-plus-circle fa-3x" id="idea-plus"></i>
      <i class="fa fa-minus-circle fa-3x" id="idea-minus"></i>
    </div>
    </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" ></script>
    <script src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js"></script>


<%= javascript_include_tag "graph-creator.js" %>