<div id="window" data-graph='<%= @graph.id %>'>
</div>

<div id="instructions" class="hidden">
  <ul>
    <li>Select an Idea clicking on it and create Random concepts from it</li>
    <li>Shift + click to create a new idea</li>
    <li>Shift + click in an idea to change the content</li>
    <li>Shift + drag to relate ideas,</li>
    <li>Backspace to delete </li>
  </ul>
</div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Other canvas</h4>
      </div>
    </div>
  </div>
</div>

<div class="wiki"><div></div><i class="fa fa-times fa-3x" id="close-wiki"></i></div>

  <input type="file" id="hidden-file-upload"></input>

  <div id="idea-toolbox">

    <div>
      <i class="fa fa-link fa-3x" id="open-canvas" data-toggle="modal" data-target="#myModal" ></i>
    </div>
    <div>
      <i class="fa fa-eye fa-3x" id="open-url"></i>
    </div>
    <div>
      <i class="fa fa-play-circle fa-3x" id="play"></i>
    </div>
    <div>
      <i class="fa fa-plus-circle fa-3x" id="idea-plus"></i>
    </div>
    <div>
      <i class="fa fa-minus-circle fa-3x" id="idea-minus"></i>
    </div>
    <!-- <div><div id="related_idol_wt-button" class="btn btn-default">Create Wikipedia Type</div></div> -->
    <!-- <div><div id="wordnik-button" class="btn btn-default">Create Wordnik related tags</div></div> -->
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" ></script>
<%= javascript_include_tag "app-bundle.js" %>