/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Joint.js
.link:hover .marker-vertices,
.link:hover .marker-arrowheads,
.link:hover .link-tools {display: none};
 .link-tools .tool-remove { display: none };
.link-tools .tool-options { display: none };*/

@import url("graph-creator.css");

body{

}

p{
  text-align: left;
  padding: 1em;
}

#playground{
  width: 100%;
  height: 100%;
  overflow: scroll;
  /*background-image: url('https://trello-attachments.s3.amazonaws.com/552e854ef4dea2de6db96e02/4896x3264/21b71b3d8b2c343418e7a5cd926625b1/DSCF7337.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
}
#window{
  z-index: -5;
  width: 100%;
  height: 100%;
  background-color: linen;
  position: absolute;
  font-family: 'Quicksand', sans-serif;
}
#controls{
  position: fixed;
  top:25%;
}

/*
circle{
  opacity: 0;
}
*/
.concept{

}

.random{
 font-size: 2em;
  fill:grey;
  opacity: 0;
  position:absolute;
}