/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Joint.js
.link:hover .marker-vertices,
.link:hover .marker-arrowheads,
.link:hover .link-tools {display: none};
 .link-tools .tool-remove { display: none };
.link-tools .tool-options { display: none };*/

@import url("graph-creator.css");

body{
  font-family: 'Quicksand', sans-serif;
}

p{
  text-align: left;
  padding-left: 1em;
}


#toolbox{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
    background-color: white;
}


#toolbox input{
    width: 30px;
    opacity: 0.4;
}

#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}


#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}
.fa{
  color: #AFAFAF;
}

.fa:hover{
    color:black;
  };

#window{
  z-index: -5;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('b1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#controls{
  position: fixed;
  top:5%;
}
.wiki{
  position: fixed;
  bottom: 0;
  height: 0%;
  width: 100%;
  background-color: white;
}
.wiki-open{
  overflow: scroll;
  height: 50%;
  padding: 5%;
}
#close-wiki{
position: absolute;
  top: 2%;
  right:1%;
}
/*
circle{
  opacity: 0;
}
*/

.random{
  height: 1em;
  fill:grey;
  opacity: 0;
  position:relative;
}